.chat_item {
  cursor: pointer;
  padding: 0.5rem 0;
  img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  p {
    font-size: 12px;
  }
  &:hover {
    background-color: $purple-color;
    color: $dark-blue-color;
  }
}

.selected {
  background-color: $purple-color;
  color: $dark-blue-color;
}

.border_gray {
  border-bottom: 1px solid $purple-color;
}
