.chat_content {
  width: calc(100% + 1px);
  header {
    text-transform: capitalize;
    height: 4rem;
    background-color: $dark-purple-color;
    font-weight: 600;
  }
  main {
    height: calc(788px - 8rem);
    overflow-y: auto;
    img {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
    }
    .sender {
      p {
        background-color: $white-color;
        color: $dark-blue-color;
        border-radius: 0 0.5rem 0.5rem 0.5rem;
      }
    }
    .receiver {
      direction: rtl;
      p {
        background-color: $purple-color;
        color: $dark-blue-color;
        border-radius: 0.5rem 0 0.5rem 0.5rem;
      }
    }
  }
  footer {
    height: 4rem;
    background-color: $white-color;
    font-weight: 600;
    color: $dark-blue-color;
    .form-control {
      background-color: inherit;
      border: none;
      resize: none;
      padding: 0 10px;
      color: $dark-blue-color;
    }
  }
}
