.chat_container {
  height: 100vh;
  .card {
    background-color: $blue-white-color;
    color: $light-gray-color;
    overflow: hidden;
    height: calc(100vh - 8rem);
    .row {
      height: calc(100vh - 8rem);    }
  }
  .no_choose {
    color: $main-color;
  }
}
