.loginRegister {
  background-color: $main-color;
  height: 100vh;
  .header {
    color: $purple-color;
  }
  .sub_header,
  p {
    color: $gray-color;
  }
  .card {
    background-color: $dark-blue-color;
  }
  span {
    color: $purple-color;
  }
  .link {
    text-decoration: underline;
    cursor: pointer;
  }
  .upload {
    cursor: pointer;
    img {
      width: 1.7rem;
    }
    span {
      font-size: 12px;
    }
  }
}
