$main-color: #151824;
$blue-color: #312f4d;
$dark-blue-color: #222738;
$gold-color: gold;
$gray-color: #8d8d8d;
$blue-white-color: #dddcf7;
$light-gray-color: #bfc9e3;
$white-color: #fff;
$purple-color: #bb86fc;
$dark-purple-color: #5f5b8f;
$light-purple-color: #dbb2ff;
