$main-color: #151824;
$blue-color: #dddcf7;
$second-blue-color: #312f4d;
$dark-blue-color: #222738;
$gold-color: gold;
$gray-color: #8d8d8d;
$white-color: #bfc9e3;
$purple-color: #bb86fc;
$light-purple-color: #dbb2ff;
