.form-control {
  border: none;
  border-bottom: 1px solid $gray-color;
  border-radius: 0px;
  background-color: $dark-blue-color;
  &:focus {
    box-shadow: none;
    background-color: $dark-blue-color;
    color: $white-color;
    border-bottom: 1px solid $gray-color;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $dark-blue-color inset !important;
  }
  &:-webkit-autofill{
    -webkit-text-fill-color: $white-color !important;
}
}
