.form-control {
  border: none;
  border-bottom: 1px solid $purple-color;
  border-radius: 0px;
  background-color: $dark-blue-color;
  color: $light-gray-color;
  &:focus {
    box-shadow: none;
    background-color: $dark-blue-color;
    color: $light-gray-color;
    border-bottom: 1px solid $purple-color;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $dark-blue-color inset !important;
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: $light-gray-color !important;
  }
}
input[type="file"] {
  display: none;
}
.form-label {
  margin-bottom: 0;
}
.file_input {
  .form-label {
    cursor: pointer;
  }
}
